* {
    font-family: $main-font;
    color: $color-main;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}
h3 {
    color: $color-main;
    font-size: 18px;
}
ul {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}
img {
    display: block;
    margin: 0;
    padding: 0;
}
address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $color-main;
}
