.container {
    display: block;
    margin: 0 auto;
    @media screen and (min-width: 480px) {
        width: 375px;
    }
    @media screen and (min-width: 1440px) {
        width: 1440px;
    }
}
.header {
    .container {
        border-bottom: 1px solid $color-main;
    }
}
