.container {
    display: block;
    margin: 0 auto;
    @media screen and (min-width: 480px) {
        width: 375px;
        margin: 0 auto;
    }
    // @media screen and (min-width: 1200px) {
    //     max-width: 1440px;
    // }
}
.header {
    .container {
        border-bottom: 1px solid $color-main;
    }
}
