@import "./utils/variables";
@import "./utils/visually-hidden";
@import "./base/common";
@import "./base/container";
@import "./components/header";
@import "./components/buttons";
@import "./components/hero";
@import "./components/company";
@import "./components/about";
@import "./components/slider";
@import "./components/certificate";
@import "./components/coming-orange";
@import "./components/coming-pink";
@import "./components/coming-blue";
@import "./components/subscription-email";
@import "./components/spotify";
@import "./components/tik-tok";
@import "./components/footer";
@import "./components/modal-window";
