$main-font: "Avenir Next", sans-serif;
$font-span: "Playfair Display", serif;
$color-main: #2d2a26;
$color-white-header: #fcfcf0;
$color-white: #fff;
$color-btn: #ecb3cb;
$line-move-gradient: linear-gradient(90deg, #274cd6 0%, #cf63c6 49.91%, #80d7c4 100%);
$title-blue: #307fe2;
$title-orange: #f87c56;
$color-span: #f68d2e;
$button-background: #8abadd;
$background-hero: linear-gradient(270deg, #cfcdce 0%, #dadadc 44.29%, #dedde2 100%);
$background-btn-check: #f5cabf;
$background-subscription: linear-gradient(98.6deg, #d9cfff 0%, #ebf1ff 44.29%, #dde6ef 100%);
$color-footer: #6f6a63;
$color-border: #524c45;
