$main-font: "Avenir Next", sans-serif;
$color-main: #2d2a26;
$color-white-header: #fcfcf0;
$color-white: #fff;
$color-btn: #ecb3cb;
$line-move-gradient: linear-gradient(90deg, #274cd6 0%, #cf63c6 49.91%, #80d7c4 100%);
