.about {
    margin: 0 auto;
}
.about__overlay {
    background: $color-main;
    padding-top: 31px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 0px;
    @media screen and (min-width: 1440px) {
        display: flex;
        flex-direction: row-reverse;
    }
}
.about__container-right {
}
.about__title {
    color: $color-white;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: -3px;
    margin-bottom: 24px;
    line-height: 105%;
    @media screen and (min-width: 1440px) {
        font-size: 48px;
        margin-top: 107px;
        margin-right: 226px;
        margin-bottom: 28px;
        text-align: left;
    }
}
.title__text-one {
    font-family: $font-span;
    color: $title-orange;
}
.title__text-two {
    font-family: $font-span;
    color: $background-btn-check;
}
.title__text-three {
    font-family: $font-span;
    color: $button-background;
}
.title__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: $color-white;
    margin-bottom: 20px;
    @media screen and (min-width: 1440px) {
        margin-bottom: 36px;
        margin-right: 205px;
        text-align: left;
    }
}
.about__svg {
    margin-left: 18px;
    width: 309px;
    height: 373px;
    @media screen and (min-width: 1440px) {
        width: 477px;
        height: 577px;
        margin-top: 64px;
        margin-left: 117px;
        margin-right: 125px;
    }
}
