.btn-nav__get-kit {
    display: flex;
    width: 140px;
    height: 53px;
    margin-left: auto;
    padding: 16px 27px;
    margin-right: 17px;
    border-radius: 10px;
    border: 1px solid $color-main;
    box-shadow: 4px 4px 0px $color-main;
    cursor: pointer;
    transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        -webkit-transform: scale(0.9) translateX(-7px);
        -ms-transform: scale(0.9) translateX(-7px);
        transform: scale(0.9) translateX(-7px);
    }
    @media screen and (min-width: 1440px) {
        margin-right: 15px;
    }
}
.get-kit__images {
    border: none;
    background-color: transparent;
    width: 20px;
    height: 20px;
}
.user-btn {
    display: none;
    @media screen and (min-width: 1440px) {
        display: flex;
        height: 53px;
        padding: 16px 16px;
        border-radius: 10px;
        border: 1px solid $color-main;
        box-shadow: 4px 4px 0px $color-main;
        cursor: pointer;
        margin-right: 120px;
        transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
            -webkit-transform: scale(0.9) translateX(-7px);
            -ms-transform: scale(0.9) translateX(-7px);
            transform: scale(0.9) translateX(-7px);
        }
    }
}
.btn-nav__burger-menu {
    width: 54px;
    height: 54px;
    display: block;
    margin-left: 18px;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        -webkit-transform: scale(0.9) translateX(-7px);
        -ms-transform: scale(0.9) translateX(-7px);
        transform: scale(0.9) translateX(-7px);
    }
    @media screen and (min-width: 1440px) {
        display: none;
    }
}
.burger-menu__icon {
    width: 54px;
    height: 54px;
    fill: $color-main;
    cursor: pointer;
    transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.button-main {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    margin: auto;
    height: 53px;
    padding: 15px 36px;
    background: $button-background;
    border-radius: 10px;
    box-shadow: 4px 4px 0px $color-main;
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 22px;
    align-items: center;
    text-align: center;
    transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    &:hover {
        -webkit-transform: scale(0.9) translateX(-7px);
        -ms-transform: scale(0.9) translateX(-7px);
        transform: scale(0.9) translateX(-7px);
    }
    @media screen and (min-width: 1440px) {
        margin-left: 120px;
    }
}
.button-check {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    margin-left: 105px;
    height: 57px;
    padding: 16px 27px;
    background: $background-btn-check;
    border-radius: 10px;
    border: 1px solid $color-main;
    box-shadow: 4px 4px 0px $color-main;
    cursor: pointer;
    transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        -webkit-transform: scale(0.9) translateX(-7px);
        -ms-transform: scale(0.9) translateX(-7px);
        transform: scale(0.9) translateX(-7px);
    }
    @media screen and (min-width: 1440px) {
        margin-bottom: 0px;
        margin-left: 72px;
    }
}
.button-about {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    width: 159px;
    height: 53px;
    padding: 16px 36px;
    background: $background-btn-check;
    border-radius: 10px;
    border: 1px solid $color-main;
    box-shadow: 4px 4px 0px $color-white;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        -webkit-transform: scale(0.9) translateX(-7px);
        -ms-transform: scale(0.9) translateX(-7px);
        transform: scale(0.9) translateX(-7px);
    }
}
.form-btn {
    width: 120px;
    height: 56px;
    cursor: pointer;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 23px;
    border: 1px solid $color-main;
    border-radius: 0px 10px 10px 0px;
    position: absolute;
    left: 65%;
    background: $background-btn-check;
    transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        background-color: $title-orange;
    }
    @media screen and (min-width: 1440px) {
        left: 71%;
    }
}
.footer__right-info__btn {
    display: none;
    @media screen and (min-width: 1440px) {
        display: flex;
        width: 140px;
        height: 53px;
        padding: 16px 27px;
        margin-right: 17px;
        border-radius: 10px;
        border: 1px solid $color-white-header;
        box-shadow: 4px 4px 0px $color-white-header;
        background-color: $button-background;
        cursor: pointer;
        transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
            -webkit-transform: scale(0.9) translateX(-7px);
            -ms-transform: scale(0.9) translateX(-7px);
            transform: scale(0.9) translateX(-7px);
        }
    }
}
.close-modal {
    display: none;
    @media screen and (max-width: 1439px) {
        display: block;
        padding: 0;
        width: 15px;
        height: 15px;
        background-color: transparent;
        border: none;
        margin-left: auto;
        margin-right: 15px;
        cursor: pointer;
        transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
            -webkit-transform: scale(0.9) translateX(-7px);
            -ms-transform: scale(0.9) translateX(-7px);
            transform: scale(0.9) translateX(-7px);
        }
    }
}
.modal-btn__user-btn {
    width: 54px;
    height: 54px;
    border-radius: 10px;
    border: 1px solid $color-main;
    box-shadow: 4px 4px 0px $color-main;
    cursor: pointer;
    margin-right: 120px;
    transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        -webkit-transform: scale(0.9) translateX(-7px);
        -ms-transform: scale(0.9) translateX(-7px);
        transform: scale(0.9) translateX(-7px);
    }
}
