.container-sections .container {
    @media screen and (min-width: 1440px) {
        display: flex;
        width: 1440px;
        flex-wrap: wrap;
    }
}
.certificate__first {
    padding-top: 10px;
    border: 1px solid $color-main;
    @media screen and (min-width: 1440px) {
        border: 1px solid $color-main;
        padding-top: 10px;
        padding-bottom: 14px;
    }
}
.temp-container {
    @media screen and (min-width: 1440px) {
        width: calc(50%);
    }
}

.title {
    align-items: center;
    font-weight: 900;
    font-size: 14px;
    line-height: 95%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.title__svg {
    fill: none;
    position: absolute;
    width: 170px;
    height: 48px;
    top: -40%;
    left: 27%;
    @media screen and (min-width: 1440px) {
        left: 38%;
    }
}
.certificate__title {
    margin-top: 21px;
    font-weight: 700;
    font-size: 36px;
    line-height: 105%;
    text-align: center;
    letter-spacing: -3px;
    margin-bottom: 18px;
}
.certificate__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    align-items: center;
    text-align: center;
    letter-spacing: -0.03em;
    margin-bottom: 59px;
}
.bar {
    position: relative;
}
.letter {
    position: relative;
}
.list-item-icons {
    display: flex;
    margin: auto;
    margin-bottom: 72px;
    @media screen and (min-width: 1440px) {
        width: 320px;
        height: 204px;
    }
}
.svg-icon-cert-blood {
    position: absolute;
    width: 75px;
    height: 75px;
    top: -29.73%;
    left: 69.87%;
}
.svg-icon-cert-urine {
    width: 75px;
    height: 75px;
    position: absolute;
    z-index: 2;
    top: -13.33%;
    left: 8.47%;
}
.svg-icon-cert-swab {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 90.03%;
    left: 66.13%;
}
