.coming-pink {
    padding-top: 10px;
    padding-bottom: 14px;
    background-color: $color-white;
    border: 1px solid $color-main;
    @media screen and (min-width: 480px) {
        width: 375px;
        margin: 0 auto;
    }
}
