.coming-orange {
    padding-top: 10px;
    padding-bottom: 14px;
    background-color: $color-white;
    border: 1px solid $color-main;
    @media screen and (min-width: 480px) {
        width: 375px;
        margin: 0 auto;
    }
}
.coming-orange .title__svg {
    // fill: orange;
}
.coming-orange .svg-icon-cert-urine {
    top: 72.03%;
    left: 18.13%;
}
.coming-orange .svg-icon-cert-swab {
    top: -34.33%;
    left: 8.47%;
}
