.company__title {
    display: none;
}
.company {
    // padding-left: 18px;
    // padding-right: 18px;
    padding-bottom: 40px;
    padding-top: 40px;
    margin: 0 auto;
    @media screen and (min-width: 1440px) {
        padding-top: 26px;
        padding-bottom: 26px;
    }
}
.company .container {
    @media screen and (min-width: 1440px) {
        display: flex;
    }
}
.company__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 30px;
    margin-left: 18px;
    @media screen and (min-width: 1440px) {
        flex-wrap: nowrap;
        margin-left: 120px;
        margin-bottom: 0px;
    }
}
.list__item {
    width: calc((100% - 1 * 20px) / 2);
    &:nth-child(2n-1) {
        margin-right: 20px;
    }
    margin-bottom: 18px;
    @media screen and (min-width: 1440px) {
        &:not(:last-child) {
            margin-right: 70px;
        }
        margin-bottom: 0px;
    }
}
.item__svg {
    width: 160px;
    height: 55px;
}
