.coming-orange {
    padding-top: 10px;
    padding-bottom: 14px;
    background-color: $color-white;
    border-top: 1px solid $color-main;
    border-right: 1px solid $color-main;
    border-bottom: 1px solid $color-main;
}
.coming-orange .svg-icon-cert-urine {
    top: 72.03%;
    left: 18.13%;
}
.coming-orange .svg-icon-cert-swab {
    top: -34.33%;
    left: 8.47%;
}
