.header {
    background-color: $color-white;
}
.line-move {
    display: flex;
    align-items: center;
    padding: 10 0px;
    background: $line-move-gradient;
}
.line-move__text {
    font-size: 12px;
    display: flex;
    align-items: center;
}
.line-move__images {
    border: none;
    background-color: transparent;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-left: 5px;
}
.user-svg {
    width: 22px;
    height: 22px;
}
@media screen and (min-width: 1440px) {
    @-webkit-keyframes scroll {
        0% {
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
        }
        100% {
            -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
        }
    }
    @-moz-keyframes scroll {
        0% {
            -moz-transform: translate(0, 0);
            transform: translate(0, 0);
        }
        100% {
            -moz-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
        }
    }
    @keyframes scroll {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(-100%, 0);
        }
    }
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0);
    }
}

@-moz-keyframes scroll {
    0% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -moz-transform: translate(-100%, 0);
        transform: translate(-100%, 0);
    }
}
@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

.marquee {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.marquee span {
    -webkit-animation: scroll 6s infinite linear;
    -moz-animation: scroll 6s infinite linear;
    animation: scroll 6s infinite linear;
    @media screen and (min-width: 1440px) {
        -webkit-animation: scroll 10s infinite linear;
        -moz-animation: scroll 10s infinite linear;
        animation: scroll 10s infinite linear;
    }
}
.btn-nav {
    display: flex;
    padding-top: 13px;
    padding-bottom: 13px;
    align-items: center;
}
.menu-container {
    display: none;
    @media screen and (min-width: 1440px) {
        display: block;
    }
}
.navigation {
    display: flex;
    align-items: center;
    margin-left: 120px;
}
.navigation__list {
    display: block;
    @media screen and (min-width: 1440px) {
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        align-items: center;
    }
}
.navigation__list-item {
    margin-right: 20px;
}
.navigation__list__link {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    cursor: pointer;
    transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: rgb(209, 84, 190);
        -webkit-transform: scale(0.9) translateX(-7px);
        -ms-transform: scale(0.9) translateX(-7px);
        transform: scale(0.9) translateX(-7px);
    }
}
