.tik-tok {
}
.tik-tok__overlay {
    background-image: url(/src/images/tiktokBackg.jpg);
    padding-top: 41px;
    background-repeat: no-repeat;
    background-size: cover;
}
.tik-tok__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 90%;
    align-items: center;
    text-align: center;
    letter-spacing: -3px;
    margin: auto;
    color: $color-white-header;
    margin-bottom: 27px;
    @media screen and (min-width: 1440px) {
        font-size: 52px;
        margin-bottom: 41px;
    }
}
.tik-tok__img {
    border: none;
    margin: auto;
    @media screen and (min-width: 1440px) {
        width: 394px;
        height: 515px;
    }
}
.svg-icon-tik-tok {
    width: 45px;
    height: 45px;
    display: flex;
    margin: auto;
    margin-bottom: 15px;
    @media screen and (min-width: 1440px) {
        margin-top: 71px;
        margin-bottom: 18px;
        width: 85px;
        height: 85px;
    }
}
